.hover-agrandar:hover {
  transform: scale(1.1, 1.1);
  transition: 0.6s;
}
.hover-agrandar-05:hover {
  transform: scale(1.05, 1.05);
  transition: 0.6s;
}

.texto-verde2 {
  color: #66c1bf;
}
.bg-verde2 {
  background-color: #66c1bf;
}
.bg-verde2-trans {
  background-color: hsla(179, 42%, 58%, 0.85rem);
}
//Efecto parallax
.parallax {
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;

  padding: 70px 0px;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#coffe-laptop {
  background-image: url("../imgs/escritorio-pc.jpg");
}
.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.parallax img, h1, div {
  color: #fff;
  position: relative;
}

//fin parallax
.fuente-impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.fuente-monserrat {
  font-family: "Montserrat", sans-serif;
}
.fuente-roboto {
  font-family: "Roboto", sans-serif;
}

//Efecto scale interior
.scale-efect-img {
  overflow: hidden;
  box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.6);
}
.scale-efect-img img {
  height: 100%;
  transition: 1s;
}
.scale-efect-img img:hover {
  transform: scale(110%);
  filter: brightness(1.2);
}
//DIMENSIONES DE IMAGENES
.box-img-proyect{
  border-radius: 0.5rem;
}

//header nav
#navbar-1 {
  height: 70px;
  padding-bottom: 10px;
  padding-top: 10px;
}


#navbar-1 span a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-family: "Roboto, sans-serif";
}
#navbar-1 span a:hover {
  color: #66c1bf;
  transition: 0.3s ease-in;
}
.main-content-nb{
    height: 100vh;
}
.texto-grande{
  font-size: 8rem;
}
.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.menu-horizontal > li{
  display: block;
  padding: 20px 40px;
  color: white;
  text-decoration: none;
}

.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 400px;
  background-color: rgba(0,0,0, 0.5);
}
.menu-horizontal li:hover .menu-vertical{
  display: flex;
}
.menu-vertical li:hover{
background-color: black;
display: flex;
}